# Neel Kamal Homestay Env Configurations

# Local Dev Port for the Express API Server
PORT=8080

# Database URL for PostgreSQL (Drizzle migrations + Server)
DATABASE_URL=postgresql://postgres:Homestay_2021Nakshu@db.ropdeouvlcbtcybddcgd.supabase.co:5432/postgres

# Session Secret for Express Session signing
SESSION_SECRET=ff5f6fe6d105d00813bbef3a8c706e2694e1ba353ab6169e537a6aac652ea0e1

# Admin Dashboard Password
ADMIN_PASSWORD=your_admin_password_here
